<div class="modal-header">
    <a class="modal-dismiss pull-right" ng-click="modalCtrl.cancel()">X</a>
    <h3 class="modal-title" id="modal-title">Location</h3>
</div>
<div class="modal-body" id="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="zip-code">Zip Code</label>
            <input type="text" ng-model="modalCtrl.form.zipCode" class="form-control" id="zip-code">
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <ui-select ng-model="modalCtrl.form.countryCode">
                <ui-select-match allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="country.alpha2 | lowercase as country in modalCtrl.countries | filter: $select.search">
                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="modalCtrl.save()">Save</button>
    </form>
</div>
